<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <title>Service-Academos</title>
</head>
<body>
    <section class="header">
        <div class="navbar">
            <a href="{% url 'base' %}"><img src="{% static 'img/logo-png-academos.png' %}" alt="logo_academos"></a>
        
            <div class="search-container">
                <input type="search" id="search-input" placeholder="Saisissez un mot clé, une thématique, un métier">
                <button type="button" class="search-button" id="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div id="search-results"></div> <!-- Conteneur pour afficher les résultats -->
            </div>
        
            <div class="menu">
                <a href="{% url 'base' %}">Accueil</a>
                <a href="{% url 'about' %}">A propos</a>
        
                <!-- Menu déroulant pour Services -->
                <div class="dropdown">
                    <a href="{% url 'service' %}" class="dropdown-toggle active">Services</a>
                    <div class="submenu">
                        <a href="{% url 'manage' %}">Management</a>
                        <a href="{% url 'accompagne' %}">Accompagnement</a>
                        <a href="{% url 'audit' %}">Audit</a>
                        <a href="{% url 'conseil' %}">Conseil</a>
                        <a href="{% url 'salle' %}">Salle à louer</a>
                    </div>
                </div>
        
                <a href="{% url 'formation' %}">Formations</a>
                <a href="{% url 'contact' %}" >Contact</a>
            </div>
        </div>


        <div class="section row_text">
            <div class="image-background">
                <div class="text-overlay">
                    <h3>Nos Solutions de Formation pour accompagner tout vos projets </h3>
                </div>
            </div> 
        </div>

        

        <div class="section row_text2">
            <h3>Qu'apportons nous ?</h3>
            <hr>
            <p>
                <span>ACADEMOS CONSEIL</span>, au cœur de la transformation des organisations
                En tant qu’employé, manager ou dirigeant, chacun de nous évolue dans un monde
                professionnel en perpétuel changement, faisant face à de nombreux défis, à la
                mondialisation et à son corollaire : l’accroissement de la concurrence.<br><br>
                Ainsi, la transformation du monde et de nos environnements de travail est en état de
                marche. Et les entreprises sont obligées de s’adapter à ces changements en
                actionnant les leviers de la performance !<br><br>
                La formation professionnelle, l’accompagnement managérial, la mise en œuvre de
                systèmes de management définis sur la base de normes internationales, ou d’outils
                pour porter l’excellence opérationnelle, sont autant de solutions que ACADEMOS
                CONSEILS propose et met à disposition de votre entreprise. Grâce à des années
                d’expériences sur le terrain et une diversité de clients, ACADEMOS CONSEILS détient
                une expertise avéréeet en perpétuelle évolutionmise au service de votreréussite.
            </p>
            <a href="{% url 'about' %}">En savoir plus</a>
        </div>
    </section>

    

    <section class="section reasons-section">
        <h2 class="section-title">Nos Services</h2>
        <p>Découvrez nos services pour accompagner votre transformation digitale</p>
        
    
        <div class="reasons-grid">
            <div class="number3">
                <div class="card">
                    <img src="{% static 'img/services/S1.jpg' %}" alt="Raison 1" class="card-image">
                    <h3 class="card-title">Formations</h3>
                    <p>Des solutions sur mesure pour répondre à vos besoins digitaux.</p>
                    <a href="">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="{% static 'img/services/S2.jpg' %}" alt="Raison 2" class="card-image">
                    <h3 class="card-title">MANAGEMENT DE LA PERFORMANCE </h3>
                    <p>
                        Améliorez les performances de vos équipes avec des objectifs clairs, des évaluations précises et des actions correctives efficaces.
                    </p>
                    <a href="">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="{% static 'img/services/S3.jpg' %}" alt="Raison 3" class="card-image">
                    <h3 class="card-title">Audit</h3>
                    <p>
                        Évaluez la fiabilité de vos informations financières, identifiez les risques, 
                        et améliorez vos performances avec un audit indépendant. Renforcez votre gouvernance 
                        et la confiance des parties prenantes.
                    </p>
                    <a href="">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="{% static 'img/services/S4.jpg' %}" alt="Raison 3" class="card-image">
                    <h3 class="card-title">CONSEIL</h3>
                    <p>
                        Améliorez vos performances et résolvez des problèmes complexes avec des 
                        stratégies sur-mesure. Nos consultants apportent des recommandations adaptées 
                        pour aider votre entreprise à prospérer dans un environnement concurrentiel.
                    </p>
                    <a href="">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="{% static 'img/services/S5.jpg' %}" alt="Raison 3" class="card-image">
                    <h3 class="card-title">Accompagnement</h3>
                    <p>
                        Offrez à votre entreprise un soutien essentiel pour surmonter les défis 
                        et saisir les opportunités. Grâce à des conseils d'experts, développez vos 
                        compétences et stratégies de croissance pour atteindre vos objectifs.
                    </p>
                    <a href="">En savoir plus</a>
                </div>
                <div class="card">
                    <img src="{% static 'img/services/salle-a-louer.jpg' %}" alt="Raison 3" class="card-image">
                    <h3 class="card-title">SALLE à Louer</h3>
                    <p>
                        Nos salles de formation modernes sont équipées d'un écran projecteur de haute 
                        qualité, de plusieurs écrans plasma de 72 pouces, de Wi-Fi et d'ordinateurs modernes. 
                        Profitez d'un environnement confortable avec un coin café pour favoriser une expérience 
                        d'apprentissage optimale. Louez dès aujourd'hui et boostez vos sessions de formation !
                    </p>
                    <a href="">En savoir plus</a>
                </div>
            </div>

        </div>
    </section>

    <section class="section full-height-section">

        <div class="carousel">
            <h1>ILS NOUS FONT CONFIANCE</h1>
            <div class="logos">
              <img src="{% static 'img/clients partenaire/1.png' %} " alt="Logo BRALICO">
              <img src="{% static 'img/clients partenaire/2.png' %}" alt="Logo Archer">
              <img src="{% static 'img/clients partenaire/3.jfif' %}" alt="Logo Perenco">
              <img src="{% static 'img/clients partenaire/4.jfif' %}" alt="Logo SGS">
              <img src="{% static 'img/clients partenaire/5.jfif' %}" alt="Logo Client 5">
              <img src="{% static 'img/clients partenaire/6.jfif' %}" alt="Logo Client 6">
              <img src="{% static 'img/clients partenaire/7.jfif' %}" alt="Logo Client 7">
              <img src="{% static 'img/clients partenaire/8.jfif' %}" alt="Logo Client 8">
              <img src="{% static 'img/clients partenaire/9.jpg' %}" alt="Logo Client 9">
              <img src="{% static 'img/clients partenaire/10.png' %}" alt="Logo Client 10">
              <img src="{% static 'img/clients partenaire/11.jpg' %}" alt="Logo Client 11">
              <img src="{% static 'img/clients partenaire/12.jfif' %}" alt="Logo Client 12">
              <img src="{% static 'img/clients partenaire/13.png' %}" alt="Logo Client 13">
              <img src="{% static 'img/clients partenaire/14.png' %}" alt="Logo Client 14">
              <img src="{% static 'img/clients partenaire/15.jfif' %}" alt="Logo Client 15">
              <img src="{% static 'img/clients partenaire/16.png' %}" alt="Logo Client 16">
            </div>
        </div>

    </section>


    <footer>
        <div class="footer-container">
            <!-- Logo et présentation -->
            <div class="footer-column footer-logo">
                <img src="{% static 'img/logo-png-academos.png' %}" alt="Logo AcademOS">
                <p>Des solutions professionnelles adaptées à vos besoins. Simplifiez vos projets avec nos services sur mesure.</p>
            </div>
    
            <!-- Liens rapides -->
            <div class="footer-column">
                <h4>Liens rapides</h4>
                <a href="#">Accueil</a>
                <a href="#">Nos services</a>
                <a href="#">À propos</a>
                <a href="#">Contactez-nous</a>
            </div>
    
            <!-- Contact -->
            <div class="footer-column">
                <h4>Contact</h4>
                <p>Email : <a href="mailto:contact@academos.com">contact@academos.com</a></p>
                <p>Téléphone : +221 77 123 45 67</p>
                <div class="footer-social-icons">
                    <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    
        <div class="footer-bottom">
            &copy; 2025 AcademOS Conseils. Tous droits réservés.
        </div>
    </footer>


    <script src="{% static 'js/script.js' %}" ></script>
    
    
</body>
</html>